<%- include('partials/header', {title: 'Projects' }) %>
    <div class="container mt-4 pt-4">
        
        <h1 class="text-center">Projects</h1>
        <p class="text-center">Here are some of the projects I've worked on:</p>
        <p>- GUI Scientific Calculator</p>
        <p>- AR Glasses</p>
        <p>- Web Application Development</p>
        <div class="col-lg-4">
            <img src="/images/calc.png" class="imageAboutProject" alt="Calculator Image" height="200" width="300">
        </div>
    </div>
    <%- include('partials/footer') %>