<%- include('partials/header', {title: 'Services' }) %>
    <div class="container mt-4 pt-4">
        <h1 class="text-center">Services</h1>
        <h2 class="text-center">I offer the following services:</h2>
       <p>1. Mobile Application Development</p> 
        <p>2. Website Development</p>
        <p>3. Programming Guidance</p>
        <div class="col-lg-4">
            <img src="/images/image1.png" class="image" alt="Image" height="200" width="400">
        </div>
    </div>
    
    
    <%- include('partials/footer') %>